<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sfCrimeDb" value="mongodb://czifro:{{password}}@ds037415.mongolab.com:37415/sf-crime"/>
  </appSettings>
</configuration>